{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row"> <!-- BACK BUTTON  -->
        <div class="col">
            <a href="{{ product.get_absolute_url }}" class="standard-button p-2"><i class="fas fa-caret-left"></i> Back to Product</a>
        </div>
    </div>
    <div class="row"> <!-- EDIT REVIEW FORM  -->
        <div class="col text-center">
            <div class="mb-4 mt-3">
                <h2>Edit Review</h2>
                <h3>Reviewing {{ product.name }}</h3>
            </div>
            <form method="POST" action="{{ product.get_edit_review_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="submit-button" value="Submit">
            </form>   
        </div>
    </div>
</div>
{% endblock %}
