{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if cart|length > 0 %}
        <div class="row mt-5 mb-5">
            <div class="col-md-8">
                <h1>Shopping Cart</h1>
                <p>The quantity of a product cannot be more than 10 per order, or more than its remaining stock.</p>
            </div>
        </div>
        <div class="row">
            <div class="col table-responsive">
                <table class="cart">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                            <th>Unit price</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            <tr>
                                <td><h5><a href="{{ item.product.get_absolute_url }}" class="text-link">{{ item.product.name }}</a></h5></td>
                                <td>
                                    <form action="{% url 'add_to_cart' item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.overwrite }}
                                        <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                    <input class="standard-button" type="submit" value="Update">
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'remove_from_cart' item.product.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="standard-button" type="submit" >X</button>
                                    </form>
                                </td>
                                <td>£{{ item.price }}</td>
                                <td>£{{ item.total_price }}</td>
                            </tr>
                        {% endfor %}
                            <tr class="total">
                                <td>Total</td>
                                <td colspan="3"></td>
                                <td class="total-price">£{{ cart.get_total_price }}</td>
                            </tr>
                    </tbody>
                </table>
             </div>
        </div>
        <div class="row mt-4">
            <div class="col d-flex justify-content-end">
                <a href="{% url 'shop' %}" class="standard-button checkout-button">Continue Shopping</a>
                <a href="{% url 'create_order' %}" class="submit-button checkout-button">Proceed to Checkout</a>
            </div>
        </div>
    {% else %}
        <div id="empty-cart">
            <p class="larger-font">Your cart is empty.</p>
            <a href="{% url 'shop' %}" class="submit-button d-flex justify-content-center mt-4">Back to Shop</a>
        </div>
    {% endif %}
</div>
{% endblock %}