{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="home-content" id="shop-section-home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 home-title">Welcome to Miss Pan's Bakery!</h1>
            <div class="mt-5">
                <p class="lead">
                    <a href="{% url 'shop' %}" class="submit-button home-button">Shop Now</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="home-content" id="videos-section-home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container ">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="display-4 home-title">Our Videos</h1>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                    <p class="lead"><a href="{% url 'videos' %}" class="submit-button home-button">Go to Videos</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-content" id="recipes-section-home">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="display-4 home-title">Recipes</h1>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <p class="lead"><a href="{% url 'recipes' %}" class="submit-button home-button">View Recipes</a></p>
            </div> 
        </div>
        
    </div>
    </div>
</div>
<div class="home-content" id="gallery-section-home">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="display-4 home-title">Photo Gallery</h1>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <p class="lead"><a href="{% url 'gallery' %}" class="submit-button home-button">View our Gallery</a></p>
            </div> 
        </div>
    </div>
    </div>
</div>
{% endblock %}