{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <h1>Gallery</h1>
    </div>
    <div class="row">
        {% for product in products %}
            {% if product.image1 %}
            <div class="col-md-3">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image1.url }}" class="card-img-top img-fluid" alt="..."></a>
            </div>
            {% endif %}
            {% if product.image2 %}
            <div class="col-md-3">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image2.url }}" class="card-img-top img-fluid" alt="..."></a>
            </div>
            {% endif %}
            {% if product.image3 %}
            <div class="col-md-3">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image3.url }}" class="card-img-top img-fluid" alt="..."></a>
            </div>
            {% endif %}
            {% if product.image4 %}
            <div class="col-md-3">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image4 }}" class="card-img-top img-fluid" alt="..."></a>
            </div>
            {% endif %}
            {% if product.image5 %}
            <div class="col-md-3">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image5 }}" class="card-img-top img-fluid" alt="..."></a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}