{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1>{{ user_profile }}'s Profile</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <h2>Default Delivery Information</h2>
                </div>
                <form action="{% url 'user_profile' %}" method="POST" id="default-delivery-form">
                    {% csrf_token %}
                    {{ form.default_address_line1 | as_crispy_field }}
                    {{ form.default_address_line2 | as_crispy_field }}
                    {{ form.default_town_or_city | as_crispy_field }}
                    {{ form.default_postcode | as_crispy_field }}
                    {{ form.default_country | as_crispy_field }}
                    <div class="mt-4 text-center">
                        <input type="submit" class="submit-button" value="Save Changes">
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-center mt-4">
                <div class="my-5"> 
                    <a href="{% url 'user_orders' %}" class="standard-button larger-font p-2 d-flex flex-column"><i class="far fa-list-alt"></i> My Orders</a>
                </div>
                <div class="my-5">
                    <a href="{% url 'user_recipes' %}" class="standard-button larger-font p-2 d-flex flex-column"><i class="fas fa-cookie-bite"></i> My Recipes</a>
                </div>
                <div class="my-5">
                    <a href="{% url 'saved_recipes' %}" class="standard-button larger-font p-2 d-flex flex-column"><i class="fas fa-heart"></i> Hearted Recipes</a>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}