{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-5">Your Orders</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">Date Created</div>
            <div class="col-md-3">Order Number</div>
            <div class="col-md-3">Items Ordered</div>
            <div class="col-md-3">Total Cost</div>
        </div>
        <hr>
        {% for order in orders %}
        <div class="row">
            
                <div class="col-md-3">{{ order.created }}</div>
                <div class="col-md-3">{{ order.id }}</div>
                <div class="col-md-3">
                    <ul>
                    {% for item in order.items.all %}
                        <li>
                            {{ item.quantity }}x {{ item.product.name }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">{{ order.get_total_cost }}</div>             
            
        </div>
        <hr>
        {% endfor %}
    </div>
    
{% endblock %}