{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4 home-title">Your Recipes</h1>
            </div>
            <div class="col-md-4">
                <a href="{% url 'user_profile' %}" class="standard-button p-2 larger-font">Back to Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <a href="{% url 'add_recipe' %}" class="larger-font edit-button">Add a recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-5">
        {% for recipe in user_recipes %}
            <div class="col-md-6 mt-5">
                <a href="{% url 'recipe_details' recipe.id %}"></a>
                <div class="row">
                    <div class="col-md-5">
                        {% if recipe.image %}
                            <a href="{% url 'recipe_details' recipe.id %}">
                                <img src="{{ recipe.image.url }}" class="card-img-top img-fluid" alt="...">
                            </a>
                        {% else %}
                            <a href="{% url 'recipe_details' recipe.id %}">
                                <img src="{% static 'images/noimage.png' %}" class="card-img-top img-fluid" alt="...">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <h3><a href="{% url 'recipe_details' recipe.id %}" class="text-link">{{ recipe.name }}</a></h3>
                        <p>By {{ recipe.user }}</p>
                        <p>{{ recipe.score }} <i class="fas fa-heart"></i></p>
                        <p>{{ recipe.description }}</p>
                    </div>
                    {% if user_profile %}
                    <div class="col-md-2">
                        {% if user_profile in recipe.saved_by_users.all %}
                                <form action="{% url 'remove_recipe' recipe.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                    <button type="submit" class="heart-button">
                                        <i class="fas fa-heart fa-2x"></i>
                                        <p class="sr-only">Unheart Recipe</p>
                                    </button>
                                </form>
                        {% else %}
                                <form action="{% url 'save_recipe' recipe.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                    <button type="submit" class="heart-button">
                                        <i class="far fa-heart fa-2x"></i>
                                        <p class="sr-only">Heart Recipe</p>
                                    </button>
                                </form>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <hr>
</div>
            <nav aria-label="user recipes pagination">
            {% if user_recipes.has_other_pages %}
                <ul class="pagination justify-content-center">
                {% if user_recipes.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ user_recipes.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in user_recipes.paginator.page_range %}
                    {% if user_recipes.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">
                                <span>{{ i }} <span class="sr-only">(current)</span></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if user_recipes.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ user_recipes.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
            </nav>



{% endblock %}