{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-8">
                <h1>Your Orders</h1>
            </div>
            <div class="col-md-4">
                <a href="{% url 'user_profile' %}" class="standard-button p-2 larger-font">Back to Profile</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">Order Date</div>
            <div class="col-md-3 text-center">Order Number</div>
            <div class="col-md-3 text-center">Items Ordered</div>
            <div class="col-md-3 text-center">Total Cost</div>
        </div>
        <hr>
        {% for order in orders %}
        <div class="row">
            
                <div class="col-md-3 text-center py-2">{{ order.created }}</div>
                <div class="col-md-3 text-center py-2">
                    <a href="{% url 'order_complete' order.id %}" class="profile-link">{{ order.id }}</a>
                </div>
                <div class="col-md-3 py-2">
                    <ul>
                    {% for item in order.items.all %}
                        <li>
                            {{ item.quantity }}x <a href="{% url 'product_details' item.product.id item.product.slug %}" class="profile-link">{{ item.product.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3 text-center py-2">£{{ order.get_total_cost }}</div>             
            
        </div>
        <hr>
        {% endfor %}
    </div>
    
{% endblock %}