{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-5">Your Orders</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">Order Date</div>
            <div class="col-md-3 text-center">Order Number</div>
            <div class="col-md-3 text-center">Items Ordered</div>
            <div class="col-md-3 text-center">Total Cost</div>
        </div>
        <hr>
        {% for order in orders %}
        <div class="row">
            
                <div class="col-md-3 text-center py-2">{{ order.created }}</div>
                <div class="col-md-3 text-center py-2">
                    <a href="{% url 'order_complete' order.id %}">{{ order.id }}</a>
                </div>
                <div class="col-md-3 py-2">
                    <ul>
                    {% for item in order.items.all %}
                        <li>
                            {{ item.quantity }}x <a href="{% url 'product_details' item.product.id item.product.slug %}">{{ item.product.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3 text-center py-2">£{{ order.get_total_cost }}</div>             
            
        </div>
        <hr>
        {% endfor %}
    </div>
    
{% endblock %}