.order-link {
    color: #000;
}

.order-link:hover {
    color: #7232b8;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

#payment-form .form-control,
#card-element {
    border: 1px solid #000;
    border-radius: 0;
}