{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a href="{% url 'recipes' %}" class="standard-button p-2"><i class="fas fa-caret-left"></i> Back to Recipes</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="mb-4 mt-3">
                <h2>Add a New Recipe</h2>
                <p>Please note that all recipe submissions will need to be approved by Miss Pan's. If approved, it will be accessible to other members of the community!</p>
            </div>
            <form method="POST" action="{% url 'add_recipe' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="submit-button" value="Add Recipe">
            </form>   
        </div>
    </div>
</div>
{% endblock %}
