{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col offset-lg-2">
            <a href="{% url 'recipes' %}" class="standard-button p-2"><i class="fas fa-caret-left"></i> Back to Recipes</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-6 col-lg-4 offset-lg-2">
            <div>
                {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" class="recipe-details-img img-fluid" alt="...">
                    {% else %}
                        <img src="{% static 'images/noimage.png' %}" class="recipe-details-img img-fluid" alt="...">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="mt-4">
                <h2>{{ recipe.name }}</h2>
                <p>Created by {{ recipe.user }}</p>
                {% if recipe.user.user == request.user %}
                <div class="mb-3">
                    <a href="{% url 'edit_recipe' recipe.id %}" class="edit-button">Edit Recipe</a>
                    <a href="{% url 'delete_recipe' recipe.id %}" class="warning-button">Delete Recipe</a>
                </div>
                {% endif %}
                <p>{{ recipe.score }} <i class="fas fa-heart"></i></p>
                <p>{{ recipe.description }}</p>
                <p>{{ recipe.ingredients|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8 offset-lg-2">
            <p>{{ recipe.instructions|linebreaks }}</p>
        </div>
    </div>
</div>


{% endblock %}