{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if not search_text %}
                    <h1 class="display-4 home-title">Recipes</h1>
                {% else %}
                    <h1 class="display-4 home-title">{{ recipes|length }} result{{ recipes|pluralize }} for "{{ search_text }}"</h1>
                    <a href="{% url 'recipes' %}" class="larger-font submit-button p-2">Browse All</a>
                {% endif %}
            </div>
            <div class="col-md-4">
                <form class="GET mt-4" action="{% url 'recipes' %}">
                    <input type="text" maxlength="50" name="search" placeholder="Search recipes">
                    <input type="submit" class="submit-button" value="Submit">
                </form>
            </div>
        </div>
            {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="col my-3">
                        <a href="{% url 'add_recipe' %}" class="larger-font edit-button">Add a recipe</a>
                    </div>
                </div>
            {% endif %}
    </div>
</div>
<div class="container-fluid showcase">
    <hr>
    <div class="row mb-5">
        {% for recipe in showcased_recipes %}
            <div class="col-md-6 mt-5">
                <a href="{% url 'recipe_details' recipe.id %}"></a>
                <div class="row">
                    <div class="col-md-5">
                        {% if recipe.image %}
                            <a href="{% url 'recipe_details' recipe.id %}">
                                <img src="{{ recipe.image.url }}" class="card-img-top img-fluid" alt="...">
                            </a>
                        {% else %}
                            <a href="{% url 'recipe_details' recipe.id %}">
                                <img src="{% static 'images/noimage.png' %}" class="card-img-top img-fluid" alt="...">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <h3><a href="{% url 'recipe_details' recipe.id %}" class="text-link">{{ recipe.name }}</a></h3>
                        <p>By {{ recipe.user }}</p>
                        <p>{{ recipe.score }} <i class="fas fa-heart"></i></p>
                        <p>{{ recipe.description }}</p>
                    </div>
                    <div class="col-md-2">
                        {% if user_profile %}
                            {% if user_profile in recipe.saved_by_users.all %}
                                <form action="{% url 'remove_recipe' recipe.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                    <button type="submit" class="heart-button">
                                        <i class="fas fa-heart fa-2x"></i>
                                        <p class="sr-only">Unheart Recipe</p>
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'save_recipe' recipe.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                    <button type="submit" class="heart-button">
                                        <i class="far fa-heart fa-2x"></i>
                                        <p class="sr-only">Heart Recipe</p>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>
<div class="container mt-4">
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-md-3">
                        {% if recipe.image %}
                            <a href="{% url 'recipe_details' recipe.id %}">
                                <img src="{{ recipe.image.url }}" class="card-img-top img-fluid" alt="...">
                            </a>
                        {% else %}
                            <a href="{% url 'recipe_details' recipe.id %}">
                                <img src="{% static 'images/noimage.png' %}" class="card-img-top img-fluid" alt="...">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-7">
                        <h3><a href="{% url 'recipe_details' recipe.id %}" class="text-link">{{ recipe.name }}</a></h3>
                        <p>By {{ recipe.user }}</p>
                        <p>{{ recipe.score }} <i class="fas fa-heart"></i></p>
                        <p>{{ recipe.description }}</p>
                    </div>
                    <div class="col-md-2">
                        {% if user_profile %}
                            {% if user_profile in recipe.saved_by_users.all %}
                                <form action="{% url 'remove_recipe' recipe.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                    <button type="submit" class="heart-button">
                                        <i class="fas fa-heart fa-2x"></i>
                                        <p class="sr-only">Unheart Recipe</p>
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'save_recipe' recipe.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                    <button type="submit" class="heart-button">
                                        <i class="far fa-heart fa-2x"></i>
                                        <p class="sr-only">Heart Recipe</p>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>  
</div>
<div class="mt-5">
    <nav aria-label="recipes pagination">
        {% if recipes.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if recipes.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ recipes.previous_page_number }}{% if search_text %}&search={{ search_text }}{% endif %}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in recipes.paginator.page_range %}
                    {% if recipes.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}{% if search_text %}&search={{ search_text }}{% endif %}">
                                <span>{{ i }} <span class="sr-only">(current)</span></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if search_text %}&search={{ search_text }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if recipes.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ recipes.next_page_number }}{% if search_text %}&search={{ search_text }}{% endif %}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}
