{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <a href="{% url 'add_recipe' %}">Add a recipe</a>
        <form class="GET" action="{% url 'recipes' %}">
            <input type="text" name="search" placeholder="Search recipes">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="row">
        <div class="col">
            <h2>Showcase</h2>
            <ul>
                {% for recipe in recipes %}
                    {% if recipe.is_approved and recipe.is_showcased %}
                        <li>{{ recipe.name }}</li>
                        <li>By {{ recipe.user }}</li>
                        <li>Saved {{ recipe.score }} time{{ recipe.score|pluralize }}</li>
                        <li>{{ recipe.description }}</li>
                        <li><a href="{% url 'recipe_details' recipe.id %}">Link to Recipe</a></li>
                        {% if user_profile %}
                            {% if user_profile in recipe.saved_by_users.all %}
                                    <li><a href="{% url 'remove_recipe' recipe.id %}">Unsave Recipe</a></li>
                            {% else %}
                                    <li><a href="{% url 'save_recipe' recipe.id %}">Save Recipe</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h2>Recipes</h2>
            <ul>
                {% for recipe in recipes %}
                    {% if recipe.is_approved and not recipe.is_showcased %}
                        <li>{{ recipe.name }}</li>
                        <li>By {{ recipe.user }}</li>
                        <li>Saved {{ recipe.score }} time{{ recipe.score|pluralize }}</li>
                        <li>{{ recipe.description }}</li>
                        <li><a href="{% url 'recipe_details' recipe.id %}">Link to Recipe</a></li>
                        {% if user_profile %}
                            {% if user_profile in recipe.saved_by_users.all %}
                                    <li><a href="{% url 'remove_recipe' recipe.id %}">Unsave Recipe</a></li>
                            {% else %}
                                    <li><a href="{% url 'save_recipe' recipe.id %}">Save Recipe</a></li>
                            {% endif %}
                        {% endif %}  
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}