{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6 col-lg-4 offset-lg-2">
            <div>
                {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" class="recipe-details-img img-fluid" alt="...">
                    {% else %}
                        <img src="{% static 'images/noimage.png' %}" class="recipe-details-img img-fluid" alt="...">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div>
                <h2>{{ recipe.name }}</h2>
                <p>Created by {{ recipe.user }}</p>
                {% if recipe.user.user == request.user %}
                    <p><a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a></p>
                    <p><a href="{% url 'delete_recipe' recipe.id %}">Delete Recipe</a></p>
                {% endif %}
                <p>{{ recipe.score }} <i class="fas fa-heart"></i></p>
                <p>{{ recipe.description }}</p>
                <p>{{ recipe.ingredients|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-lg-2">
            <p>{{ recipe.instructions|linebreaks }}</p>
        </div>
    </div>
</div>


{% endblock %}