{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h1>Checkout</h1>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <h3>Your order</h3>
                <ul>
                    {% for item in cart %}
                        <li>
                            <p>{{ item.quantity }}x {{ item.product.name }} £{{ item.total_price }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <p class="larger-font mt-4">Total: £{{ cart.get_total_price }}</p>
            </div>
            <div class="col-md-6">
                <form method="POST" class="order-form" id="payment-form">
                    {% csrf_token %}
                    {{ form.first_name | as_crispy_field }}
                    {{ form.last_name | as_crispy_field }}
                    {{ form.email | as_crispy_field }}
                    {{ form.address_line1 | as_crispy_field }}
                    {{ form.address_line2 | as_crispy_field }}
                    {{ form.town_or_city | as_crispy_field }}
                    {{ form.postcode | as_crispy_field }}
                    {{ form.country | as_crispy_field }}
                    {{ form.name_on_card | as_crispy_field }}
                    <div class="mt-4" id="card-element"></div>
                    <div class="mt-4" id="card-errors"></div>
                    <p class="mt-5"><input id="submit-button" type="submit" value="Place Order"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key"}}
    {{ client_secret|json_script:"id_client_secret"}}
    <script src="{% static 'orders/js/stripe_elements.js' %}"></script>
{% endblock %}
