html {
    height: 100%;
}

body {
    background-color: #fff;
}

header {
    background-color: #fff;
}

.header-container {
    padding-bottom: 15rem;
}

.home-content {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.center-nav {
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.dropdown {
    display: inline-block;
}

#shop-section-home {
    background-image: url('');
}

#videos-section-home {
    background-image: url('/static/images/baking.jpg');
}

#recipes-section-home {
    background-image: url('/static/images/cookies-tray.jpg');
}

#gallery-section-home {
    background-image: url('/static/images/macarons.jpg');
}
