label {
    margin-right: 1rem;
}

.card {
    border-radius: 0;
    border: 0px solid #e6e6e6;
    -webkit-box-shadow: 0px 10px 39px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 39px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 39px -21px rgba(0,0,0,0.75);
}

.card:hover {
    -webkit-box-shadow: 0px 7px 39px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 39px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 39px -15px rgba(0,0,0,0.75);
}

.card-title {
    margin-bottom: 0.25rem;
}

.card-text {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
}

.product-card-submit {
    z-index: 3;
    position: relative;
    width: 75%;
}

.product-details-submit {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.product-details-img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border-radius: 0;
    border: 1px solid #e6e6e6;
}

.review {
    padding: 1rem;
    border: 1px solid #e6e6e6;
}

#id_quantity {
    font-size: 1.5rem;
    width: 30%;
    margin-right: 1rem;
}

#description-container {
    padding: 1rem;
}

/* MEDIA QUERIES */
@media (max-width:1366px) {
    .product-details-img {
        height: 40vw;
    }
}

@media (max-width:1023px) {
    .product-details-img {
        height: 70vw;
    }
}
