{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {% if not filter_categories %}
            <h1 class="display-4">All Products</h1>
        {% elif filter_categories == "cakes" %}
            <h1 class="display-4">Browsing Cakes</h1>
        {% elif filter_categories == "cookies" %}
            <h1 class="display-4">Browsing Cookies</h1>
        {% elif filter_categories == "merchandise" %}
            <h1 class="display-4">Browsing Merch</h1>
        {% endif %}
        <form class="GET" action="{% url 'shop' %}">
            <input type="text" name="search" placeholder="Search our products">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<div class="container">
    <p>{{ products|length }}
        {% if products|length == 1 %}
        Product
        {% else %}
        Products
        {% endif %}
        {% if search_text %} found for "{{ search_text }}"{% endif %}
    </p>
</div>
<div class="container-fluid">
    <div class="row card-deck">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    {% if product.image1 %}
                        <img src="{{ product.image1.url }}" class="card-img-top img-fluid" alt="...">
                    {% else %}
                        <img src="{% static 'images/noimage.png' %}" class="card-img-top img-fluid" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">£{{ product.price }}</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary stretched-link">View Item</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        <nav aria-label="shop products pagination">
        {% if products.has_other_pages %}
            <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ i }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">
                            <span>{{ i }} <span class="sr-only">(current)</span></span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        </nav>
</div>
{{ filter_categories }}
{% endblock %}