{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6 col-lg-4 offset-lg-2">
            <div>
                {% if product.image1 %}
                        <img src="{{ product.image1.url }}" class="card-img-top img-fluid" alt="...">
                    {% else %}
                        <img src="{% static 'images/noimage.png' %}" class="card-img-top img-fluid" alt="...">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.rating }} stars</p>
                <p>£{{ product.price }}</p>
                <p>{{ product.description }}</p>
                {% if request.user.is_superuser %}
                    <a href="{{ product.get_edit_product_url }}">Edit Product</a>
                    <a href="{{ product.get_delete_product_url }}">Delete Product</a>
                {% endif %}
            </div>
            <div class="mt-2">
                <form action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    {{ cart_product_form }}
                    <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                    <input type="submit" value="Add to Cart">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Reviews</h3>
            {% if reviews %}
                {% for review in reviews %}
                    {% if review.user.user == request.user %}
                        <div>
                            <h4>Your Review</h4>
                            <p>{{ review.title }}</p>
                            <p>Rating {{review.rating }}</p>
                            <p>{{ review.body }}</p>
                            <a href="{{ product.get_edit_review_url }}" type="button">Edit Review</a>
                            <button>Delete Review</button>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for review in reviews %}
                    {% if review.user.user != request.user %}
                        <div>
                            <p>{{ review.title }}</p>
                            <p>By {{ review.user.user }}</p>
                            <p>Rating {{review.rating }}</p>
                            <p>{{ review.body }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>There are no reviews</p>
                {% if request.user.is_authenticated %}
                    <a href="{{ product.get_create_review_url }}" type="button">Create a Review</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
  


{% endblock %}