{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {% if not filter_categories %}
            {% if not search_text %}
                <h1 class="display-4 home-title">All Products</h1>
            {% else %}
                <h1 class="display-4 home-title">Search results for "{{ search_text }}"</h1>
            {% endif %}
        {% elif filter_categories == "cakes" %}
            <h1 class="display-4 home-title">Cakes</h1>
        {% elif filter_categories == "cookies" %}
            <h1 class="display-4 home-title">Cookies</h1>
        {% elif filter_categories == "merchandise" %}
            <h1 class="display-4 home-title">Merchandise</h1>
        {% endif %}
        <form class="GET mt-4" action="{% url 'shop' %}">
            <input type="text" maxlength="50" name="search" placeholder="Search our products">
            <input type="submit" class="submit-button" value="Submit">
        </form>
    </div>
</div>
<div class="container">
    {% if products %}
        <p>Showing {{ products|length }} of {{ total_products|length }} item{{ products|length|pluralize }}</p>
    {% else %}
        <p>No items found</p>
    {% endif %}
    <hr>
</div>
<div class="container">
    <div class="row card-deck mb-5">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card mt-4 mx-0">
                    {% if product.image1 %}
                        <img src="{{ product.image1.url }}" class="card-img-top img-fluid" alt="...">
                    {% else %}
                        <img src="{% static 'images/noimage.png' %}" class="card-img-top img-fluid" alt="...">
                    {% endif %}
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">
                            {% if product.rating == None %}
                                0<i class="fas fa-star fa-xs"></i>
                            {% else %}
                                {{ product.rating|floatformat }}<i class="fas fa-star fa-xs"></i>
                            {% endif %}
                        </p>
                        <p class="card-text">£{{ product.price }}</p>
                        {% if product.stock == 0 %}
                            <p class="card-text">Out of Stock</p>
                        {% else %}
                        <div class="mt-2 product-card-form">
                            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="quantity" id="quantity" value="1">
                                <input type="hidden" name="overwrite" id="overwrite" value="False">
                                <input type="hidden" name="redirect_path" id="redirect_path" value="{{ request.path }}">
                                <button class="submit-button product-card-submit" type="submit">
                                    Add to Cart
                                </button>
                                <button class="submit-button product-card-submit d-none" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                        <a href="{{ product.get_absolute_url }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mt-5">
        <nav aria-label="shop products pagination">
        {% if products.has_other_pages %}
            <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ i }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">
                            <span>{{ i }} <span class="sr-only">(current)</span></span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}{% if search_text %}&search={{ search_text }}{% endif %}{% if filter_categories %}&category={{ filter_categories }}{% endif %}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        </nav>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script defer src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}