{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a href="{% url 'videos' %}" class="standard-button p-2"><i class="fas fa-caret-left"></i> Back to Videos</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="mb-4 mt-3">
                <h2>Edit Video</h2>
            </div>
            <form method="POST" action="{% url 'edit_video' video.id %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="submit-button" value="Submit">
            </form>
            
        </div>
    </div>
</div>


{% endblock %}